.video{
    background-image: url('https://ucarecdn.com/c9531aa2-11c7-4d4d-b15e-4e7733e0fae8/-/crop/1322x745/110,214/-/preview/-/format/auto/-/format/auto/-/quality/smart/-/resize/1349x/');
    height: 100vh;
    background-size: cover;
}