.video{

    background-image: url("https://ucarecdn.com/177fe5e7-2164-49b1-b02b-0561b068840e/-/crop/3360x1889/0,0/-/preview/-/format/auto/-/format/auto/-/quality/smart/-/resize/1349x/");
    height: 100vh;

}
.border-bottom-1{
    border-bottom: solid 1px #e3e3e3;
}